{% extends 'myblog/base.html' %}

	{% block content %}
			<div>
				{% for post in posts %}

					<div>

						<h2 class="h2-post-title shadow-lg p-3 mb-5 bg-white rounded"><a class="post-title " href="{%  url 'blog:detail' slug=post.slug %}" style="text-decoration: none;" >{{post.title}}</a></h2>

						<p class= "post-text shadow p-3 mb-5 bg-white rounded">{{post.snippet}}</p>

						<p class="published-date">Published by {{post.author}}  @{{post.published_date}}</p>



					</div>

				{% endfor %}

			</div>
	{% endblock %}
 
