{%extends 'myblog/base.html' %}

{%block title%}Login{%endblock%}

{% load crispy_forms_tags %}

{% block content %}
	<div class="row justify-content-center">
		<div class="row-6">
			<div class="card">
				<div class="card-body">

					<h2>Login</h2>
					<form class="login-form" method="post">
						
						{% csrf_token %}

						{{form|crispy}}

						<button type="submit" class="btn btn-primary">Login</button>
						<a href="{% url 'password_reset' %}" class="btn btn-link"> Forgot your password?</a>

					</form>
					
				</div>
			</div>
		</div>
	</div>
		


{% endblock %}